page-scan {
.center-align-content > *
{    
    margin: 5px 8px 10px 240px; 
    width:80px; 
    text-align:center;    
    Font-family: Helvetica, Verdana;
    font-size: 100%;
}

.scan > *
{
    background: #8cc2f8;
}
}
