page-home {



.home > *
{
    background: #dbebeb;
}

.noItem > *
{
    color: grey;
    transform: rotate(45deg);
    vertical-align: middle;
    text-align: center; 
    margin: 70px
}

.vertical-align-content > *
{
    color: #606060 ;
    Font-family: Helvetica, Verdana;
    font-size: 100%;
    margin: 13px 8px 13px 13px;
}

}
